:root{
    --softblue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --cyan-trans: hsla(178, 100%, 50%, 0.24);

    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    --outfit: 'Outfit', sans-serif;
}

html{
    font-size: 18px;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: var(--outfit);
    background-color: var(--mainBG);
}

main{
    max-width: 375px;
    
    background-color: var(--cardBG);
    border-radius: 10px;
    padding: 1.5rem;
    box-sizing: border-box;

    box-shadow: 0px 0px 10px 2px #12121210;
}

.photo{
    width: 100%;
    height: 300px;
    background-image: url(../images/image-equilibrium.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
}
.bg-hover{
    width: 100%;
    height: 100%;
    background-color: var(--cyan-trans);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 10px;
}
.bg-hover:hover{
    opacity: 100;
}

/* img.nft{
    width: 100%;
    border-radius: 10px;
} */


.info-area{
    color: var(--softblue);
}
.info-area h1{
    font-size: 1.5rem;
    color: var(--white);
}
.info-area .descripcion{
    font-weight: 300;
}

.data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.data-a,
.data-b{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.data-a{
    color: var(--cyan);
    font-weight: 600;
}
.icon{
    padding-right: 0.5rem;
}

.user-info img{
    width: 30px;
    margin-right: 0.5rem;
    border: solid;
    border-width: 2px;
    border-color: var(--white);
    border-radius: 100%;
}
.user-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.user-info span{
    color: var(--white);
}